<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">DEENS SHARING</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" onclick="showUploadFile()" style="cursor: pointer;">Upload File</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="showUploadText()" style="cursor: pointer;">Upload Text</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" onclick="showUploadText()" style="cursor: pointer;">
          <span style="color: cadetblue;">
            PDF
          </span>
          ->
          <span style="color: rgb(206, 198, 85);">
            WORD
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="showUploadText()" style="cursor: pointer;">
            <span style="color: rgb(206, 198, 85);">
            WORD
          </span>
          ->
          <span style="color: cadetblue;">
            PDF
          </span>
        </a>
      </li> -->
    </ul>
  </nav>
</div>