<div id="upload-file" class="jumbotron">
  <div class="content" style="display: flex; align-items: center; gap: 10px;">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" style="cursor: pointer;">
      <button type="submit" style="background-color: rgb(70, 112, 167); border-radius: 5px; border: 0px; color: aliceblue; padding-left: 5px; padding-right: 5px; font-size: 15px;">
        <span>Upload</span>
        <i class="fa-solid fa-cloud-arrow-up"></i>
      </button>
    </form>
  </div>
</div>
