<div id="upload-text" class="jumbotron">
  <div id="upload-text" class="content">
    <textarea id="text-area" name="w3review" rows="4" cols="50">
    </textarea>
    <button onclick="sendText()" style="display: block; background-color: rgb(70, 112, 167); border-radius: 5px; border: 0px; color: aliceblue; padding-left: 5px; padding-right: 5px; font-size: 15px; margin-top: 3%;">
      <span>Upload</span>
      <i class="fa-solid fa-cloud-arrow-up"></i>
    </button>
  </div>
</div>